.container{
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
    padding-bottom:20px ;
    background-color: white;
}

.img-container img{
    height: 400px;
    border-radius: 100px;
    margin: auto;
    padding: 50px 0; 
}
.text-container{
    text-align: center;
    padding-bottom: 20px;
}